
@import "modules/reset";
@import "modules/fonts";



@import "header";


.page-wrapper {
  min-width: 320px;
  box-sizing: border-box;
  @media (min-width: 1220px) {
    //min-height: calc(100vh - 130px);
    height: 200vh;
    margin-top: 130px;
  }
  @media (max-width: 1219px) {
    //min-height: calc(100vh - 55px);
    height: 200vh;
    margin-top: 55px;
  }
}