@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaBold.ttf") format("woff"),
  url("../fonts/HelveticaBold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica-Regular";
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaRegular.ttf") format("woff"),
  url("../fonts/HelveticaRegular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}