doctype html
html
    head
        link(href="css/main.css", rel="stylesheet", type="text/css")
        script(src='js/main.js')
    body
        include ../header

        section.page-wrapper.js-page-wrapper

            block content